@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --const-white: theme('colors.const-white');
    --const-black: theme('colors.const-black');
    --pol-bg-0: theme('colors.pol-bg-0');
    --pol-bg-1: theme('colors.pol-bg-1');
    --pol-border-1: theme('colors.pol-border-1');
    --pol-ultra-red: theme('colors.pol-ultra-red');
    --pol-text-1: theme('colors.pol-text-1');
    --pol-text-2: theme('colors.pol-text-2');
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--pol-bg-0);
}

/* ---- Spinner ---- */

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--pol-text-1);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---- Status Circle ---- */

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.good {
    background-color: green;
}

.bad {
    background-color: red;
}

/* ---- Separator ---- */

.separator-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
  
.line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--pol-ultra-red);
}

.separator-text {
    color: var(--pol-text-1);
    margin: 0 10px;
}

/* ---- Slider ---- */

.SliderContainer{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}

.SliderLabel {
    color: var(--pol-text-1);
    margin-right: 10px;
    font-size: 14px;
}

.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;
    height: 20px;
}

.SliderTrack {
    background-color: var(--pol-bg-1);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 1.5px;
}

.SliderRange {
    position: absolute;
    background-color: var(--pol-ultra-red);
    border-radius: 9999px;
    height: 100%;
}

.SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--pol-text-1);
    border-radius: 10px;
}